<div class="profile-card" *ngIf="profile">
  <div class="profile-card-avatar">
    <img [src]="profile.avatarUrl | imgUrl" alt="avatar" class="profile-card-avatar-image">
    <div class="profile-card-avatar-name">
      <strong class="h6">{{profile.firstName}} {{profile.lastName}}</strong>
      <span class="subtitle">{{profile.username}}</span>
    </div>
  </div>

  <div class="profile-card-description">{{profile.description}}</div>

  <div class="profile-card-tags">
    <div class="skill-tag" *ngFor="let skill of profile.stack">
      {{ skill }}
    </div>
  </div>

  <div class="profile-card-action">
    <button class="btn">Подписаться</button>
  </div>
</div>
