.chat-workspace-header {
  display: grid;
  place-content: center;
  color: var(--light-color);
  padding: 16px 20px;
  border-bottom: 1px solid var(--light-color);

  .chat-workspace-header-info {
    display: flex;
    align-items: center;
    gap: 10px;
  }


  img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }

  .chat-workspace-header-title {
    font-weight: 800;
    font-size: 16px;
  }
}
