<div class="search-filter">
  <form class="search-profile-form-wrapper" [formGroup]="searchForm">
      <label class="form-label">
        <span class="form-label-text">Имя</span>
        <input type="text" class="form-input" placeholder="Введите данные" formControlName="firstName">
      </label>

      <label class="form-label">
        <span class="form-label-text">Фамилия</span>
        <input type="text" class="form-input" placeholder="Введите данные" formControlName="lastName">
      </label>


      <label class="form-label">
        <span class="form-label-text">Навыки</span>
        <input type="text" class="form-input" placeholder="Введите данные" formControlName="stack">
      </label>
  </form>

</div>
