@font-face {
  src: url("../fonts/JetBrainsMono-Bold.woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 800;
}

@font-face {
  src: url("../fonts/JetBrainsMono-SemiBold.woff2");
  font-family: "JetBrainsMono-SemiBold";
  font-display: swap;
  font-style: normal;
  font-weight: 700;
}



@font-face {
  src: url("../fonts/JetBrainsMono-Thin.woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 400;
}



@font-face {
  src: url("../fonts/JetBrainsMono-Medium.woff2");
  font-family: "JetBrains Mono";
  font-display: swap;
  font-style: normal;
  font-weight: 500;
}


